<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="aboutCss.css" rel="stylesheet" type="text/css">    <!--<link href="Css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">-->
    <link href="Css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="header.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link href="headerCss.css" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>
<body>
<section id="about">
    <div class="container"  id="div-about">
        <h1>About Me</h1>
        <p>Self Introduction</p>
        <img src="images/abdul_about.bmp">
        <div class="intro">
            <img src="images/bg-triangle.png" class="img-responsive"><h3>Abdul Moiz</h3>
            <a href="#">Web Designer & Developer</a>
            <p>this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me.  this caption is made by me.  this caption is made by me.  this caption is made by me.  this caption is made by me. </p>
            <p>this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me. this caption is made by me.  this caption is made by me.  this caption is made by me.  this caption is made by me.  this caption is made by me. </p>
        </div>
        <button type="button" class="btn-info btn-block btn-sm wow shake">More Info</button>
    </div>
</section>
</body>
</html>